<h1 id="spacing-channels">Spacing Channels</h1>

<p>
	Inter·punct can be used to add spaces to channels. Use the command
	<code>!space channels</code> to replace all the dashes in channel names with
	spaces. Or, if you use underscores, use <code>!space channels `_`</code>.
</p>

<p>
	For more help, join the
	<a href="https://discord.gg/Ce7tRNa">support server</a>.
</p>

<img
	alt="screenshot showing channels, one named #feature requests with a space"
	src="https://i.imgur.com/xTPSbqH.png"
/>

<h2 id="spacing-channels-errors">Errors</h2>

<h3 id="spacing-channels-perms-help">
	Channels could not be given spaces. Maybe inter·punct does not have
	permission to Manage Channels?
</h3>

<p>
	This error occurs when there is a problem trying to edit channel names.
	Check the channel permissions and see if there are overrides set that
	prevent interpunct from managing these channels.
	<a
		href="https://support.discordapp.com/hc/en-us/articles/206029707-How-do-I-set-up-Permissions-"
		>Instructions on setting up permissions from Discord</a
	>.
</p>

<p>
	If you can't find the permissions problem or believe there might be a bug,
	ask in the
	<a href="https://discord.gg/nrGFKwU">support server</a>.
</p>

<h3 id="spacing-channels-no-channels-help">
	There are no channels to put spaces in!
</h3>

<p>
	This error occurs when none of your channels have a dash in them.
	Inter·punct replaces dashes in channel names with spaces when using the
	space channels command. Add dashes to your channels and run the command
	again.
</p>

<p>
	For more help or feature requests, ask in the
	<a href="https://discord.gg/EU6QJmR">support server</a>.
</p>

<h1 id="sending-messages-to-multiple-channels">
	Sending Messages to Multiple Channels
</h1>

<p>
	Inter·punct can be used to send a message to multiple channels at once. To
	do this, use the command `ip!send: Your message goes here. #tag #some
	#channels #to #send #it #to`
</p>

<p>
	For more help, join the
	<a href="https://discord.gg/mXh6442">support server</a>.
</p>

<h2 id="sending-messages-to-multiple-channels-errors">
	Errors
</h2>

<h3 id="sending-messages-to-multiple-channels-no-perms">
	Maybe inter·punct does not have permission to Read and Send Messages there?
</h3>

<p>
	This error occurs when there is a problem trying to send messages. Check the
	channel permissions and see if there are overrides set that prevent
	inter·punct from reading or sending messages in these channels.
	<a
		href="https://support.discordapp.com/hc/en-us/articles/206029707-How-do-I-set-up-Permissions-"
		>Instructions on setting up permissions from Discord</a
	>.
</p>

<p>
	If you can't find the permissions problem or believe there might be a bug,
	ask in the
	<a href="https://discord.gg/s6acdNh">support server</a>.
</p>

<h3 id="spacing-channels-no-channels-help">
	No channels were tagged!
</h3>

<p>
	This error occurs when you did not tag any channels in your message. To tag
	a channel, type <code>#</code> and then select the channel to tag from the
	list. You can start typing the name of the channel to select it faster.
</p>

<p>
	For more help, ask in the
	<a href="https://discord.gg/2eGKGCT">support server</a>.
</p>
